DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
API_PORT=4000
NODE_ENV=development
RPC_URL=https://coston2-api.flare.network/ext/C/rpc
PROOFVAULT_REGISTRY_ADDRESS=
RELAYER_PRIVATE_KEY=
CONTRACT_WRITE_MODE=relayer
